<div class = "jumbotron">
<h3 style="color: #7721a2;">Post Your Ideas</h3>
<p class = "er" style="color: #24a696;">Welcome to the first step towards success. We’re excited for you!</p>
</div>


<% @ideas.each do |idea| %>
<div id = "mypanel"
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
        <small>by <%= idea.author %></small>
      </blockquote>
      <br>
      <div class="btn-group" role="group">
        <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
        <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>

<% end %>

<div class = "text-center">
  <%= will_paginate @ideas %>
</div>


